doctype html
html
  head
    meta( charset='UTF-8' )/
    title CATUS - SimpleProject
    link(rel='stylesheet' type='text/css' href='/public/css/fonts.css')
    link(rel='stylesheet' type='text/css' href='/public/css/style.css')
    script(src='/public/js/commons.js')
  body
    article.main-wrap
      div.main-article
        h1 Catus 
          b Story
        div.main-enter
          p &#45; 캐터스 이야기 &#45;
          a( href='/board' ) 보러가기 &#9654;
