@font-face {
  font-family: Sketch;
  src: url(../public/fonts/Sketch.ttf);
}
@font-face {
  font-family: senal;
  src: url(../public/fonts/senal.ttf);
}
@font-face {
  font-family: nanum;
  src: url(../public/fonts/NanumScript.ttc);
}